#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}




@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.footer{
  color: white;
  background-color:rgb(69, 69, 69);
  width: 100%;
  font-size: .9rem;
  padding-top:1%;
  position: fixed;
  left: 50%;
  bottom:0%;
  transform: translateX(-50%);
  text-align: center;
}